table { border-collapse: collapse; margin: 10px; }
table, tr, th, td { border: 1px solid #000; }*/
footer {border-top:1px solid #668AC2;text-align:center;width:100%; margin-top: 20px;}

#body {width:60%; margin-left: auto; margin-right:auto;}
.error {color: red;}
.message {color: blue;}

.category {
  padding: 20px;
}

.home {
  text-align:left;
}

.top {border-bottom:1px solid #7774C7;
  text-align:center;width:100%;
}
.bottom {border-top:1px solid #668AC2;
  text-align:center;width:100%; margin-top: 20px;
}
.card {
  background-color: white;
  padding: 20px;
  margin: 40px;
}
